# =================
# Python / Django
# =================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
env/
*.sqlite3

# =================
# Virtual Environment
# =================
intake_form_project_env/

# =================
# Node / Frontend
# =================
node_modules/
build/
dist/
.next/
out/

# =================
# IDE / OS
# =================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# =================
# Project specific
# =================
# faiss_index/
# faiss_faq_index/